<html>
    <head>
        <title>{{ trans('messages.title')}}</title>
    </head>
    <body>
        <h1>{{ trans('messages.greet', {'name': name}) }}</h1>
        <section class="intro">
            {{ trans('messages.intro') }}
        </section>
</html>
